<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    Enter code below
    <form action="/" method="POST">
        <textarea type="text" class="form-control" name="code" placeholder="Your code here" rows="30" cols="100" required></textarea>
        <br><br>
        Enter sample Input below
        <textarea type="text" class="form-control" name="sampleinput" placeholder="Sample Input here" rows="30" cols="100"></textarea>
        <button type="submit">Submit</button>
    </form>
</body>
</html>